<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>
<%# start serving guest user clues in a cli-like interface %>
<h2>Jeopardy Clues</h2>
<p>Press any key to start, q to quit</p>
<ul>
  <%# like a game of jeopardy, you will be presented with a clue and you must respond with the correct question %>
  <% @clue = Clue.order("RANDOM()").first %>
  <li><%= @clue.category %>: <%= @clue.answer %></li>
  <%= form_with url: check_answer_path, method: :post do %>
    <%= hidden_field_tag :clue_id, @clue.id %>
    <%= label_tag :answer, "Your Answer:" %>
    <%= text_field_tag :answer %>
    <%= submit_tag "Submit" %>
  <% end %>
</ul>
