<div>
  <h1 class="font-bold text-4xl">Your Drills</h1>
  <table>
    <caption>These are your drills.</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Correct</th>
        <th>Incorrect</th>
        <th>Pass</th>
        <th>Total</th>
        <th>% Correct</th>
      </tr>
    </thead>
      <tbody>
        <% @drills.each do |drill| %>
          <tr><%= drill.started_at %></tr>
          <tr><%= drill.correct_count %></tr>
          <tr><%= drill.incorrect_count %></tr>
          <tr><%= drill.pass_count %></tr>
          <tr><%= drill.clues_seen_count %></tr>
        <% end %>
      </tbody>
  </table>
</div>
