<div>
  <h1 class="font-bold text-4xl">Drill Details</h1>
  <h2><%= @drill.created_at %></h2>
  <div class="mt-4">
    <h3 class="font-semibold text-2xl">Statistics</h3>
    <ul class="list-disc list-inside">
      <% stats = @drill.stats %>
      <li>Correct Answers: <%= stats[:correct] %></li>
      <li>Incorrect Answers: <%= stats[:incorrect] %></li>
      <li>Passes: <%= stats[:pass] %></li>
      <li>Clues Seen: <%= stats[:seen] %></li>
      <li>Accuracy: <%= stats[:accuracy] %></li>
    </ul>
    <div>
      <h3 class="font-semibold text-2xl mt-4">Clues</h3>
      <div class="space-y-6">
        <% @drill.drill_clues.each do |clue| %>
          <div class="p-4 border rounded-lg">
            <h4 class="font-semibold text-xl"><%= clue.clue.clue_text %></h4>
            <p>Your Answer: <span class="<%= clue.correct? ? 'text-green-600' : 'text-red-600' %>"><%= clue.response %></span></p>
            <% unless clue.correct? %>
              <p>Correct Answer: <span class="text-green-600"><%= clue.clue.correct_response %></span></p>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
