<div class="h-[calc(100dvh-4rem)] overflow-hidden flex flex-col">
  <%# Filters bar (compact, only if present) %>
  <div class="px-4 pt-2">
    <%= render "active_filters", drill: @drill %>
  </div>

  <%# Main clue area - this is the only scrollable part %>
  <div class="flex-1 overflow-y-auto px-4 py-2">
    <%= turbo_frame_tag "drill_clue_frame" do %>
      <% if @clue.present? %>
        <%= render "clue_form", drill: @drill, clue: @clue, drill_clue: @drill_clue %>
      <% else %>
        <%# TODO: This is lame. batch of ~60 and offer reload instead? %>
        <div class="text-center py-12">
          <p class="text-xl text-gray-600">No more clues available!</p>
          <%= link_to "View Results", drill_path(@drill),
                      class: "mt-4 inline-block px-6 py-3 bg-indigo-600 text-white rounded-lg" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# Stats bar - pinned to bottom, never scrolls %>
  <div class="shrink-0 px-4 py-2 bg-gray-100 border-t border-gray-300">
    <div class="flex justify-center items-center gap-4">
      <%= render "stats", drill: @drill %>
      <%= button_to "End Drill", end_drills_path,
                    method: :post,
                    form: { data: { turbo_confirm: "Are you sure you want to end this drill?" } },
                    class: "px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors" %>
    </div>
  </div>
</div>
