<div class="max-w-4xl mx-auto mt-8 p-6">
  <%= render "active_filters", drill: @drill %>

  <%= turbo_frame_tag "drill_clue_frame" do %>
    <% if @clue.present? %>
      <%= render "clue_form", drill: @drill, clue: @clue, drill_clue: @drill_clue %>
    <% else %>
      <%# TODO: This is lame. batch of ~60 and offer reload instead? %>
      <div class="text-center py-12">
        <p class="text-xl text-gray-600">No more clues available!</p>
        <%= link_to "View Results", drill_path(@drill),
                    class: "mt-4 inline-block px-6 py-3 bg-indigo-600 text-white rounded-lg" %>
      </div>
    <% end %>
  <% end %>
  <div class= "mt-6 flex justify-center items-center">
    <div class="flex gap-4 items-center">
      <%= render "stats", drill: @drill %>
      <!-- End Drill Button -->
      <%= button_to "End Drill", end_drills_path,
                    method: :post,
                    form: { data: { turbo_confirm: "Are you sure you want to end this drill?" } },
                    class: "px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition-colors" %>
    </div>
  </div>
</div>
