<h1>all clues</h1>
<p>All jeopardy clues from seasons 1-39</p>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>round</th>
      <th>clue_value</th>
      <th>daily_double_value</th>
      <th>category</th>
      <th>comments</th>
      <th>question</th>
      <th>answer</th>
      <th>air_date</th>
      <th>notes</th>
    </tr>
  </thead>
  <tbody>
    <% @clues.each do |clue| %>
      <tr>
        <td><%= clue.id %></td>
        <td><%= clue.round %></td>
        <td><%= clue.clue_value %></td>
        <td><%= clue.daily_double_value %></td>
        <td><%= clue.category %></td>
        <td><%= clue.comments %></td>
        <td><%= clue.question %></td>
        <td><%= clue.answer %></td>
        <td><%= clue.air_date %></td>
        <td><%= clue.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>some more:</div>
<%= will_paginate @clues %>
